#nav_menu{
    width: 100%;
    padding: 10px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #229190, #3279a9) ;
    background: -moz-linear-gradient(to left, #229190, #3279a9);
    background: -webkit-linear-gradient(to left, #229190, #3279a9);
    background:#1b4d56;
}
#nav_menu ul{
    list-style: none;
    padding: 0;
}
#nav_menu ul li{
    display: inline-block;
}
#nav_menu ul li a{
    padding: 5px;
    text-decoration: none;
    color: white;
}
.active{
    background-color: #1b3456;
    color: rgba(225,225,225,0.70);
}
.fluid-container{
    padding: 20px;
    margin-left: 20px;
}
.btn-primary{
    float: left !important;
}
body{
    padding: 20px;
}
#btn{
    margin-left: 80%;
}
h1{
    text-align: center;
}